input[type=text] {
    width: calc(100% - 1em);
    text-align: right;
  }
  #interface {
    background-color: lightgray;
    border-radius: .4em;
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .2em;
  }
  input[type=text] {
    width: calc(100% - 1em);
    text-align: right;
  }